body{
  background: url(../dynamic-background/default-background.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
}      
div.wrap-user-information{
  margin: 0px auto;
  max-width:1100px;   
} 
div.wrap-search-area {
  margin: 0px auto;
  height: 800px;
  width: 800px;
  background-color:#041e30;
  color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow:4px 4px 5px black;
}      
div.search-title{
  height: 55px;
  width: 800px;
  padding-top:20px;
}
div.search-title p{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #3366FF;
}
div.search-content{
  width: 760px;
  height: 600px;
  padding:0px 20px;
  padding-top:20px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}
.page-logo{
  position: absolute;
}
.search-page{
  height: 35px;
  text-align: center;
}
.page-area{
  height: 25px;
  padding-top: 10px;
  display: inline-block;
}    
 .jump-page{
  height: 22px;
  text-align: center;
}   
.jump-area{
  height: 22px;
  line-height: 25px;
  display: inline-block;
}            
[data-aos^=fade][data-aos^=fade].aos-animate{
  opacity:0.8;
  transform: translateZ(0) scale(1);
}
[data-aos^=fade][data-aos^=fade].aos-animate:hover{
  opacity:0.9;
}
.input-style{
  border:1px solid #bfcbd9;
  border-radius: 4px;
  width: 210px;
  height: 25px;
  outline: none;
  display: inline-block;
  float: left;
  padding: 3px 0px 3px 10px;
  margin-right: 3px;
  background: #dcd2d2;
  font-size: 14px;
  transition: .3s;
  -webkit-transition: .3s;  
}
.input-style:hover,focus{
  background: #fff;
}
.fa-page-search{
  position: absolute;
  font-size: 21px;
  line-height: 32px;
  width: 23px;
  height: 23px;
  right: 295px;
  color: #a0b0c5;
  cursor: pointer;  
  transition: .25s;
  -webkit-transition: .25s;
}
.fa-search:hover{
  color: #727c8a;
}
.input-style:focus{
  background: #fff;
}
.search-input{
  width:222px;
  height: 33px;
  margin: 0px auto;
}